.app__login {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65%;
  width: 40%;
  background-color: var(--c-black);
  background-image:
    radial-gradient(at 50% 50%, rgb(236, 29, 36) 0, transparent 70%),
    radial-gradient(at 50% 50%, rgb(32, 32, 32) 0, transparent 50%);
  padding: 0 1rem;
}

.glass-effect {
  position: relative;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(30px) saturate(150%);
  -webkit-backdrop-filter: blur(30px) saturate(150%);
  background-color: rgba(32, 32, 32, 0);
  box-shadow: 0 0 10px var(--c-white);
  border-radius: 2rem;
  border: 1px solid var(--c-white);
}

.app__login-container {
  width: 100%;
  color: var(--c-white);
  font-family: var(--f-body);
  font-size: var(--fs-lg);
  font-weight: var(--fw-medium);
  padding: 1rem 4rem;
  border-radius: 2rem;
}

.app__login-container h1 {
  font-family: var(--f-title);
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  text-align: center;
}

.app__login-container .app__login-input_box {
  position: relative;
  height: 3rem;
  width: 100%;
  margin: 2rem 0;
}

.app__login-input_box input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 1.5px solid var(--c-white);
  border-radius: 2rem;
  font-size: var(--fs-md);
  color: var(--c-white);
  padding: 1rem 2rem 1rem 2rem;
}

.app__login-input_box input::placeholder {
  color: var(--c-white);
}

.app__login-container .app__login-remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--fs-sm);
  margin: 1rem 0;
  padding: 0.5rem 1rem;
}

.app__login-remember label {
  display: flex;
  align-items: center;
}

.app__login-remember label input {
  margin-right: 0.5rem;
  accent-color: var(--c-white);
}

.app__login-remember a {
  color: var(--c-white);
  text-decoration: none;
}

.app__login-remember a:hover {
  text-decoration: underline;
}

.app__login-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__login-container button {
  height: 3rem;
  width: 40%;
  border: none;
  outline: none;
  border-radius: 2rem;
  border: 1.5px solid var(--c-white);
  background: transparent;
  backdrop-filter: blur(30px) saturate(150%);
  box-shadow: 0 0 10px var(--c-white);
  cursor: pointer;
  font-family: var(--f-title);
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  color: var(--c-white);
  margin: 1rem 0;
}

.app__login-container button:hover {
  background-color: var(--c-black);
  color: var(--c-primary);
  transition: all 0.2s ease-in-out;
}

.app__login-container .app__login-signup {
  font-size: var(--fs-sm);
  text-align: center;
  margin-top: 1rem; 
}

.app__login-signup p a {
  color: var(--c-white);
  text-decoration: none;
  font-weight: var(--fw-bold);
}

.app__login-signup p a:hover {
  text-decoration: underline;
}

.app__login-input_box .login__icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

.app__login-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.app__login-close svg {
  height: 2rem;
  width: 2rem;
  fill: var(--c-white);
}

.app__login-close:hover svg{
  scale: 1.05;
  fill: var(--c-primary);
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
  
  .app__login {
    height: 100%;
    width: 100%;
    padding: 0;
  }
  
  .glass-effect {
    border: none;
    box-shadow: none;
    padding: 0 2rem 2rem 2rem;
  }

  .app__login-container h1 {
    font-size: 2.5rem;
    font-weight: var(--fw-medium);
    margin: 3rem;
  }

  .app__login-container .app__login-input_box {
    margin: 3rem 0;
  }

  .app__login-container .app__login-remember {
    margin: 2rem 0;
    font-size: var(--fs-md);
  }

  .app__login-container .app__login-signup {
    margin-top: 2rem;
    font-size: var(--fs-md);
  }

  .app__login-close {
    top: 2rem;
    right: 2rem;
  }

  .app__login-close svg {
    height: 2rem;
    width: 2rem;
  }

}