.app__navbar {
  height: 5rem;
  width: 100%;
  position: fixed;
  background-color: var(--c-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__navbar-container {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  color: var(--c-white);
}

.app__navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  contain: content;
}

.app__navbar-logo img {
  width: 8rem;
}

.app__navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  gap: 1.5rem;
}

.app__navbar-links li {
  cursor: pointer;
}

.app__navbar-links li:hover {
  scale: 1.05;
  color: var(--c-primary);
  transition: all 0.2s ease-in-out;
}

.app__navbar-login {
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__navbar-login a {
  margin: 0 1.5rem;
  cursor: pointer;
  text-decoration: none;
}

.app__navbar-login a:hover {
  scale: 1.05;
  color: var(--c-primary);
  transition: all 0.2s ease-in-out;
}

.app__navbar-icon {
  display: none;
}

@media screen and (max-width: 768px) {

  .app__navbar {
    height: 4rem;
  }

  .app__navbar-logo img {
    width: 100px;
  }

  .app__navbar-links {
    display: none;
  }

  .app__navbar-login a {
    margin: 0 0.5rem;
  }

  .app__navbar-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

}
