.nav-ul-element {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-ul-element a {
  text-decoration: none;
  color: var(--c-white);
  font-family: var(--f-title);
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  transition: all 0.2s ease-in-out;
}

.nav-ul-element a:hover {
  color: var(--c-primary);
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
}

.nav-ul-element a:active {
  color: var(--c-primary);
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
}

.active-link {
  color: var(--c-primary);
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
}