:root {

  /* COLORS */
  --c-primary: rgb(236, 29, 36);
  --c-white: rgb(254, 254, 254);
  --c-black: rgb(32, 32, 32);

  /* FONTS */
  --f-default: Arial, Helvetica, sans-serif;
  --f-title: Helvetica Neue, Helvetica, sans-serif;
  --f-body: Arial, sans-serif;

  /* FONT SIZES */
  --fs-xxs: 0.25rem;
  --fs-xs: 0.5rem;
  --fs-sm: 0.75rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 1.75rem;

  /* FONT WEIGHTS */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

}

/* DEFAULT RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  background-color: var(--c-white);
}

a {
  text-decoration: none;
  color: inherit;
}

/* UTILITIES */
.txt-primary {
  color: var(--c-primary);
}

.txt-white {
  color: var(--c-white);
}

.txt-black {
  color: var(--c-black);
}

.bg-primary {
  background-color: var(--c-primary);
}

.bg-white {
  background-color: var(--c-white);
}

.bg-black {
  background-color: var(--c-black);
}

.ff-default {
  font-family: var(--f-default);
}

.ff-title {
  font-family: var(--f-title);
}

.ff-body {
  font-family: var(--f-body);
}

.fs-xxs {
  font-size: var(--fs-xxs);
}

.fs-xs {
  font-size: var(--fs-xs);
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-md {
  font-size: var(--fs-md);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-xxl {
  font-size: var(--fs-xxl);
}

.fw-light {
  font-weight: var(--fw-light);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.k {
  border: 1px solid red;
}
